<html>
  <head>
    <title>Item Details</title>
    <link
      href="{{ url_for('static', path='/css/main.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1 class="text-6xl">Lunch order</h1>
    <h2 class="text-4xl">
      Welcome, <span class="font-extrabold">{{ username }}</span>
    </h2>
    <p>Today is {{ now }}</p>
    <h1 class="font-medium leading-tight text-5xl mt-0 mb-2 text-blue-600">
      Todo app
    </h1>
    <h1 class="font-medium leading-tight text-5xl mt-0 mb-2 text-blue-600">
      Todo app
    </h1>
  </body>
</html>
