{% extends "base.html" %} {% block content %}
<form action="/submit" method="POST">
  <h3>Name</h3>
  <p>
    {% if user is none %}
    <input type="text" name="name" placeholder="Your name" required />
    {% else %}
    <input
      type="text"
      name="name"
      placeholder="Your name"
      value="{{ user }}"
      required
    />
    {% endif %}
  </p>
  <h3>Item</h3>
  <p>
    <input type="text" name="description" placeholder="set menu A" required />
  </p>
  <h3>Price</h3>
  <p>
    <input
      type="text"
      pattern="^[0-9]+\.?[0-9]{0,2}$"
      placeholder="0.00"
      name="price"
      required
    />
  </p>
  <p><input type="submit" value="Login" /></p>
</form>

{% endblock content %}
